# Default values for py-redis-app
replicaCount: 3

pythonApp:
  name: py-deploy
  image:
    repository: vishwacloudlab/py-feb26
    tag: "latest"
    pullPolicy: IfNotPresent
  port: 8000
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 256Mi
  service:
    type: NodePort
    port: 8000
    targetPort: 8000
    nodePort: 30110

redis:
  name: redis-deploy
  image:
    repository: redis
    tag: "latest"
    pullPolicy: IfNotPresent
  port: 6379
  replicas: 1
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 256Mi
  service:
    type: ClusterIP
    port: 6379
    targetPort: 6379

configMap:
  name: py-config
  data:
    REDIS_HOST: "redis-service"
    APP_PORT: "8000"

strategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 1
    maxSurge: 1
